[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
pillow = "*"
matplotlib = "*"
streamlit-toggle-switch = "*"
importlib-resources = "*"

[dev-packages]

[requires]
python_version = "3.10"
